


  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4682b4;
  }

  .navbar-brand {
    color: #f1f1f1;
    font-size: 80px;

  }

  .container-fluid {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .nav-list {
    display: flex;
    list-style: none;
  }

  .nav-list li {
    margin: 0 145px;
  }

  .nav-list a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 40px;
  }

  .nav-list a:hover {
    text-decoration: underline;
  }



  .nav-list li {
    margin: 40px 0;
  }

  h1 {
    font-family: "Arvo", sans-serif;
  }

  .inline-block {
    display: inline-block;
  }


  /*.body {
    background-color: #c5adc5;
  } */

  .body {
    background-image: url(/assets/pexels-miriamespacio-1874726.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
  }
  

  .container {
    color: #4682b4;
    background-color: rgba(255,255,255,0.5);
  }

  .behaviour {
    list-style: none;
    text-align: justify;
    font-size: large;
  }

  .help {
    list-style: none;
    font-size: large;
    text-align: justify;
  }



  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4682b4;
  }

  .footer-content {
    display: flex;
    align-items: center;
  }


  